@import "./scss/reset";
@import "./scss/google-fonts";

// colors page
$white: white;
$black: black;
$grey: #868686;
$yellow: #ffbb42;
$white-blue: #b5bbc1;
$light-blue: #c2e1ff;
$orange: #eba72f;
$light-gray: #dedfe0;
$blue: #1ca8dd;
$dark-blue: #394b50;
$dark-red: #7b7b7b;
$yellow-orange: #ffc155;
$light-orange: #e7ad48;
$light-sky-blue: #e7edf3;
$oslo-gray: #75888d;
$geyser: #ccd5df;
$similar: #ced4db;
$grayish-blue: #709dca;
$dodger-blue: #12a8de;
$green: #9ac444;
$dark-orange: #ef7730;
$cerebellum-grey: #cbcbcb;
$blue-bayoux: #aeb7ba;
$shade-gray: #e3e7ec;

//наследование
%font-style-weight_normal {
  font-style: normal;
  font-weight: normal;
}

%flex-items-justify-content_center {
  align-items: center;
  justify-content: center;
}

.centering-content {
  margin: 0 auto;
  max-width: 1110px;
}

.margin {
  margin: 20px;
}

.margin-top-bottom {
  margin: 10px 0;
}

.txt-uppercase {
  text-transform: uppercase;
}

.display-content__flex {
  display: flex;
  flex-direction: column;
  @extend %flex-items-justify-content_center;
}

/* svg */
.logo {
  height: 50px;
  width: 50px;
}
.logo-circular {
  fill: none;
  stroke-width: 3px;
  transform-origin: 100% 100%;
  &-path-1 {
    stroke-dasharray: 95, 300;
    stroke: $dodger-blue;
  }
  &-path-2 {
    stroke-dasharray: 63, 300;
    stroke: $green;
  }
  &-path-3 {
    stroke-dasharray: 32, 300;
    stroke: $dark-orange;
  }
}

.full-preloader {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $dark-red;
  display: flex;
  @extend %flex-items-justify-content_center;
  opacity: 1;
  animation: fade_in_out ease-in-out 2.8s backwards infinite;
  &__logo {
    width: 80px;
    height: 80px;
  }
  .logo-circular-path-1 {
    animation: loader_anim_2 ease-in-out 1.8s backwards infinite;
  }
  .logo-circular-path-2 {
    animation: loader_anim_2 ease-in-out 1.7s backwards infinite;
  }
  .logo-circular-path-3 {
    animation: loader_anim_2 ease-in-out 1.6s backwards infinite;
  }
}

.logo-start-anim {
  .logo-circular-path-1 {
    animation: loader_anim_2 ease-in-out 1.8s reverse 1;
  }
  .logo-circular-path-2 {
    animation: loader_anim_2 ease-in-out 1.7s reverse 1;
  }
  .logo-circular-path-3 {
    animation: loader_anim_2 ease-in-out 1.6s reverse 1;
  }
}

.fade-out {
  animation: fade_out ease-in-out 0.9s forwards 1;
}
@keyframes loader_anim_2 {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    filter: contrast(5%) brightness(100%);
    filter: contrast(0%) brightness(0%);
    stroke-dasharray: 1, 300;
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
    filter: contrast(5%) brightness(1000%);
  }
}

@keyframes fade_in_out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/* svg */

/* Header style */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 93px;
}

.bulleted-list {
  display: flex;
  flex-wrap: wrap;
  &__link {
    padding: 10px 20px;
    color: $grey;
    @extend %font-style-weight_normal;
    font-size: 13.5px;
    transition: 0.3s;
    &:hover {
      background-color: $yellow;
      color: $white;
    }
  }
}
/* container main */
.container__main {
  background: linear-gradient(180deg, $grayish-blue 75%, transparent 1%);
}

.txt__heading_styles {
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  color: $white;
  margin: 82px 15px 16px;
  text-align: center;
}

.txt__paragraph_style {
  @extend %font-style-weight_normal;
  font-size: 24px;
  color: $white;
  margin: 0 15px 27px;
  text-align: center;
}

.request-form {
  margin-bottom: 67px;
  display: flex;
  @extend %flex-items-justify-content_center;
  flex-wrap: wrap;
  &__input {
    border-radius: 4px;
    width: 238px;
    height: 41px;
    border: none;
    margin: 10px 5px 10px 8px;
    padding-left: 40px;
    font-size: 13px;
    &_full-name {
      background-image: url("../images/svg/person-input_full-name.svg");
      background-repeat: no-repeat;
      background-position: 10px 13px;
    }
    &_email {
      background-image: url("../images/png/sms-input_email.png");
      background-repeat: no-repeat;
      background-position: 10px 16px;
    }
    &_phone {
      background-image: url("../images/png/phone-input.png");
      background-repeat: no-repeat;
      background-position: 10px 16px;
    }
  }
  &_button {
    background-color: $yellow;
    color: $white;
    padding: 14px 42px;
    border: none;
    @extend %font-style-weight_normal;
    font-size: 14px;
    border-radius: 4px;
    margin: 10px 7px 10px 5px;
    transition: 0.3s;
    &:hover {
      background-color: $orange;
      cursor: pointer;
    }
  }
}

.button__circle_flex {
  display: flex;
  @extend %flex-items-justify-content_center;
  margin: 23px 0 74px;
}

.button__circle {
  height: 16px;
  border-radius: 13px;
  border: 2px solid $light-gray;
  margin: 0 9px;
  &-active {
    border: 2px solid $blue;
  }
}

.img-laptop_weight {
  width: 100%;
  margin: 10px;
}

/*Secthion our services*/

.h2-styles {
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  color: $dark-blue;
  margin: 40px 10px 16px;
}
.paragraph-style {
  font-weight: 400;
  @extend %font-style-weight_normal;
  font-size: 24px;
  color: $dark-blue;
  margin: 0 10px 84px;
}

.container__with-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 145px;
}

.section__content {
  max-width: 512px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 15px 76px;
  &-txt {
    margin-left: 35px;
  }
  &-h4 {
    margin-bottom: 15px;
    color: $dark-blue;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
  }
  &-paragraph {
    @extend %font-style-weight_normal;
    font-size: 13px;
    line-height: 16px;
    color: $dark-red;
  }
}
/* aboute-us container */

.container__aboute-us {
  &_h4 {
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 18px;
    color: $white;
  }
  &_paragraph {
    @extend %font-style-weight_normal;
    font-size: 13px;
    line-height: 22px;
    color: $white;
    font-weight: 400;
    margin-bottom: 50px;
  }
  &_button {
    width: 144px;
    height: 45px;
    background-color: $yellow-orange;
    border: 1px solid $light-orange;
    color: $white;
    transition: 0.3s;
    border-radius: 3px;
    &:hover {
      background-color: $white;
      color: $black;
      cursor: pointer;
    }
  }
}
// .block__padding_width {
//   width: 93%;
// }

// TEST my
.aboute-us {
  background-color: #e7ad48;
  min-height: 623px;
  display: flex;
  flex-wrap: wrap;
}

.img-picture-table {
  background-image: url("../images/png/picture-table_chair.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .aboute-us__img-width {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .aboute-us__txt {
    width: 50%;
  }
}

.aboute-us__txt_md {
  max-width: 1140px;
  padding: 0 15px;
  box-sizing: content-box;
  margin: 0 auto;
}
.saboute-us__txt_content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
  // padding: 0 173px 0 47px;
  // margin: 0 200px 0 10px;
  // justify-content: center;
  margin: -12px;
}

// @media (min-width: 992px) {
//   .col-lg-7 {
//     /* width: 58.3333333333%; */
//     padding: 12px;
//   }
// }

@media (min-width: 768px) {
  .col-md-10 {
    width: 83.3333333333%;
    padding: 12px;
  }
}

@media (max-width: 768px) {
  .img-media {
    width: 83%;
    padding: 12px;
    margin: 0 auto;
    height: 221px;
  }
}

.col-12 {
  max-width: 475px;
  padding: 12px;
  margin-left: 60px;
}

// END TEST my

.display__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.margin__right {
  margin-right: 20px;
}
.margin__bottom {
  margin-bottom: 194px;
}
/*price cards*/
.bacground-price-cards {
  padding-top: 98px;
  background-color: $light-sky-blue;
  margin-bottom: 130px;
}

.block__price-cards {
  background-color: $white;
  height: 441px;
  width: 367px;
  border: 1px solid $geyser;
  border-radius: 4px;
  display: flex;
  @extend %flex-items-justify-content_center;
  flex-direction: column;
  transition: 0.3s;
  margin: 15px 0;
  transform: scale3d(1, 1, 1);
  &:hover {
    background-color: $grayish-blue;
    transform: scale3d(1, 1.1, 1);
  }
  &_heading {
    color: $oslo-gray;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 7px;
  }
  &_dollar {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: $yellow;
    margin-right: 3px;
  }
  &_number {
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    color: $yellow;
  }
  &_paragraph {
    color: $oslo-gray;
    margin-top: 2px;
    border-bottom: 1px solid $similar;
    padding: 0px 107px 50px;
  }
  &_h5-first {
    @extend %font-style-weight_normal;
    font-size: 13.5px;
    color: $white-blue;
    padding: 12px 105px 12px;
    border-bottom: 1px solid $similar;
  }
  &_h5-second {
    @extend %font-style-weight_normal;
    font-size: 13.5px;
    color: $white-blue;
    padding: 12px 87px 12px;
    border-bottom: 1px solid $similar;
  }
  &_h5-third {
    @extend %font-style-weight_normal;
    font-size: 13.5px;
    color: $white-blue;
    margin: 12px 0 31px;
  }
  &_button {
    width: 131px;
    height: 42px;
    background-color: $yellow-orange;
    border: 1px solid $light-orange;
    color: $white;
    transition: 0.3s;
    border-radius: 3px;
    margin-bottom: 48px;
    &:hover {
      background-color: $orange;
      cursor: pointer;
    }
  }
}

.center-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-block_header {
  color: $dark-blue;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  margin: 0 15px 16px;
}
.card-block_paragraph {
  color: $oslo-gray;
  @extend %font-style-weight_normal;
  font-size: 24px;
  line-height: 29px;
  margin: 0 15px 84px;
  text-align: center;
}

.block__price-cards:hover .block__price-cards_heading {
  color: $white;
}
.block__price-cards:hover .block__price-cards_dollar {
  color: $white;
}
.block__price-cards:hover .block__price-cards_number {
  color: $white;
}
.block__price-cards:hover .block__price-cards_paragraph {
  color: $white;
}

.block__price-cards:hover .block__price-cards_h5-first {
  color: $light-blue;
}
.block__price-cards:hover .block__price-cards_h5-second {
  color: $light-blue;
}
.block__price-cards:hover .block__price-cards_h5-third {
  color: $light-blue;
}
/* block HOW IT WORKS */
.block__cooperation--h5 {
  color: $dark-blue;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  margin: 5px 15px 14px;
}
.block__cooperation--h6 {
  @extend %font-style-weight_normal;
  font-size: 24px;
  margin: 0 15px 83px;
}

.block__cooperation_steps {
  max-width: 217px;
  height: 279px;
  margin: 11px;
  justify-content: flex-end;
  transform: scale(1, 1);
  &--transform {
    transition: 0.3s;
    &:hover {
      transform: scale(1.2);
    }
  }
  &--h4 {
    margin: 76px 5px 21px;
    color: $dark-blue;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
  }
  &--paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: $dark-red;
    text-align: center;
  }
}
.block__cooperation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 103px;
  &--buttom {
    background-color: $yellow;
    width: 165px;
    height: 46px;
    color: $white;
    border-radius: 3px;
    border: none;
    &:hover {
      background-color: $orange;
      cursor: pointer;
    }
  }
}
.block__arrow {
  width: 45px;
  position: relative;
  &--top {
    position: absolute;
    left: -44px;
  }
  &--bottom {
    bottom: 127px;
    position: absolute;
    left: -42px;
  }
}

@media screen and (max-width: 1091px) {
  .block__arrow {
    display: none;
  }
}

.margin-bottom {
  margin-bottom: 149px;
}
/* customer-reviews */
.wrrap-customer-reviews {
  background-color: $yellow-orange;
  margin-bottom: 80px;
}

.section__header {
  text-align: center;
  &--h4 {
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    color: $white;
    margin: 66px 0 16px;
  }
  &--paragraph {
    @extend %font-style-weight_normal;
    font-size: 30px;
    line-height: 36px;
    color: $white;
    margin: 0 15px 92px;
  }
}

.customer-reviews {
  display: flex;
  margin: 10px 18px;
  background-color: $white;
  border: none;
  border-radius: 2px;
  flex-wrap: wrap;
  justify-content: center;
  &--img {
    border-radius: 50%;
    margin: 49px 0 0 20px;
  }
}
.display__flex-wrap {
  display: flex;
  flex-wrap: wrap;
  @extend %flex-items-justify-content_center;
}

.customer-message {
  padding-top: 50px;
  margin-left: 15px;
  margin-right: 14px;
  &__paragraph {
    padding-left: 5px;
    @extend %font-style-weight_normal;
    font-size: 13px;
    line-height: 16px;
    color: $dark-red;
    max-width: 344px;
  }
  &__h4 {
    padding-top: 40px;
    @extend %font-style-weight_normal;
    font-size: 14px;
    line-height: 17px;
    margin-left: 16px;
    margin-bottom: 40px;
    &--orange {
      color: $orange;
    }
    &--dark-red {
      color: $dark-red;
    }
  }
  &__quotes {
    color: $dark-red;
    @extend %font-style-weight_normal;
    font-size: 33px;

    &--first {
      line-height: 10px;
      margin-left: -13px;
    }
    &--second {
      transform: matrix(-1, 0, 0, 1, 0, 0);
      position: absolute;
      margin: 13px 10px 0 10px;
      line-height: 23px;
    }
  }
}

/* section NEWSLETTER */
.wrrap-newsletter {
  &__header {
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    color: $dark-blue;
    margin: 16px;
  }
  &__paragraph {
    color: $dark-blue;
    @extend %font-style-weight_normal;
    font-size: 30px;
    margin: 0 15px 73px;
    text-align: center;
  }
}

.newsletter-form {
  display: flex;
  @extend %flex-items-justify-content_center;
  flex-wrap: wrap;
  margin-bottom: 53px;
  &__fields {
    border-radius: 4px;
    height: 41px;
    border: 1px solid $cerebellum-grey;
    margin: 10px 5px 10px 8px;
    padding-left: 40px;
    font-size: 13px;
    &--img-name {
      background-image: url("../images/svg/person-input_full-name.svg");
      background-repeat: no-repeat;
      background-position: 10px 13px;
      width: 308px;
    }
    &--img-email {
      background-image: url("../images/png/sms-input_email.png");
      background-repeat: no-repeat;
      background-position: 10px 16px;
      width: 388px;
    }
  }
  &__button {
    background-color: $yellow;
    width: 218px;
    height: 46px;
    color: $white;
    border-radius: 3px;
    border: none;
    margin: 10px 10px 10px 8px;
    &:hover {
      background-color: $orange;
      cursor: pointer;
    }
  }
}

.circle__bg-map {
  min-height: 600px;
  width: 100%;
  background-image: url("../images/png/map.png");
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-circle {
  width: 282px;
  height: 285px;
  background-color: $dark-blue;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 30px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -15px;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    border-top: 80px solid $dark-blue;
  }
  &__header {
    color: $white;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 11px;
  }
  &__txt {
    color: $blue-bayoux;
    @extend %font-style-weight_normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
  }
  &__border-txt {
    max-width: 184px;
    margin-bottom: 20px;
  }
  &__email {
    color: $yellow;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
  }
}

.border-bottom {
  border-bottom: 1px solid $shade-gray;
  margin-bottom: 50px;
}
/* navigation footer */

.footer__nav {
  margin-bottom: 21px;
  &-list {
    flex-wrap: wrap;
    display: flex;
    @extend %flex-items-justify-content_center;
    &__link {
      margin: 15px 20px;
      color: $dark-blue;
      @extend %font-style-weight_normal;
      font-size: 13px;
      line-height: 16px;
    }
  }
}

.foter__phone {
  display: flex;
  @extend %flex-items-justify-content_center;
  margin-bottom: 20px;
  &-img {
    margin-right: 18px;
  }
  &-number {
    color: $dark-blue;
    @extend %font-style-weight_normal;
    font-size: 22px;
    line-height: 27px;
  }
}

.secthion__messengers {
  margin-bottom: 51px;
  display: flex;
  @extend %flex-items-justify-content_center;
  &-img {
    margin: 10px 8px;
  }
}

/* section footer */
.main-footer {
  background-color: $grayish-blue;
  &__paragraph {
    color: $white;
    margin: 15px;
    @extend %font-style-weight_normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
  }
}
