html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
}

.bulleted-list__link, .txt__paragraph_style, .request-form_button, .paragraph-style, .section__content-paragraph, .container__aboute-us_paragraph, .block__price-cards_h5-first, .block__price-cards_h5-second, .block__price-cards_h5-third, .card-block_paragraph, .block__cooperation--h6, .section__header_paragraph, .customer-message__paragraph, .customer-message__h4, .customer-message__quotes, .wrrap-newsletter__paragraph, .location-circle__txt, .footer__nav-list__link, .foter__phone-number, .main-footer__paragraph {
  font-style: normal;
  font-weight: normal;
}

.display-content__flex, .full-preloader, .request-form, .button__circle_flex, .block__price-cards, .display__flex-wrap, .newsletter-form, .footer__nav-list, .foter__phone, .secthion__messengers {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.centering-content {
  margin: 0 auto;
  max-width: 1110px;
}

.margin {
  margin: 20px;
}

.margin-top-bottom {
  margin: 10px 0;
}

.txt-uppercase {
  text-transform: uppercase;
}

.display-content__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* svg */
.logo {
  height: 50px;
  width: 50px;
}

.logo-circular {
  fill: none;
  stroke-width: 3px;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.logo-circular-path-1 {
  stroke-dasharray: 95, 300;
  stroke: #12a8de;
}

.logo-circular-path-2 {
  stroke-dasharray: 63, 300;
  stroke: #9ac444;
}

.logo-circular-path-3 {
  stroke-dasharray: 32, 300;
  stroke: #ef7730;
}

.full-preloader {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #7b7b7b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-animation: fade_in_out ease-in-out 2.8s backwards infinite;
          animation: fade_in_out ease-in-out 2.8s backwards infinite;
}

.full-preloader__logo {
  width: 80px;
  height: 80px;
}

.full-preloader .logo-circular-path-1 {
  -webkit-animation: loader_anim_2 ease-in-out 1.8s backwards infinite;
          animation: loader_anim_2 ease-in-out 1.8s backwards infinite;
}

.full-preloader .logo-circular-path-2 {
  -webkit-animation: loader_anim_2 ease-in-out 1.7s backwards infinite;
          animation: loader_anim_2 ease-in-out 1.7s backwards infinite;
}

.full-preloader .logo-circular-path-3 {
  -webkit-animation: loader_anim_2 ease-in-out 1.6s backwards infinite;
          animation: loader_anim_2 ease-in-out 1.6s backwards infinite;
}

.logo-start-anim .logo-circular-path-1 {
  animation: loader_anim_2 ease-in-out 1.8s reverse 1;
}

.logo-start-anim .logo-circular-path-2 {
  animation: loader_anim_2 ease-in-out 1.7s reverse 1;
}

.logo-start-anim .logo-circular-path-3 {
  animation: loader_anim_2 ease-in-out 1.6s reverse 1;
}

.fade-out {
  -webkit-animation: fade_out ease-in-out 0.9s forwards 1;
          animation: fade_out ease-in-out 0.9s forwards 1;
}

@-webkit-keyframes loader_anim_2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    -webkit-filter: contrast(5%) brightness(100%);
            filter: contrast(5%) brightness(100%);
    -webkit-filter: contrast(0%) brightness(0%);
            filter: contrast(0%) brightness(0%);
    stroke-dasharray: 1, 300;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-filter: contrast(5%) brightness(1000%);
            filter: contrast(5%) brightness(1000%);
  }
}

@keyframes loader_anim_2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    -webkit-filter: contrast(5%) brightness(100%);
            filter: contrast(5%) brightness(100%);
    -webkit-filter: contrast(0%) brightness(0%);
            filter: contrast(0%) brightness(0%);
    stroke-dasharray: 1, 300;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-filter: contrast(5%) brightness(1000%);
            filter: contrast(5%) brightness(1000%);
  }
}

@-webkit-keyframes fade_in_out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade_in_out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* svg */
/* Header style */
.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 93px;
}

.bulleted-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bulleted-list__link {
  padding: 10px 20px;
  color: #868686;
  font-size: 13.5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bulleted-list__link:hover {
  background-color: #ffbb42;
  color: white;
}

/* container main */
.container__main {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, #709dca), color-stop(1%, transparent));
  background: linear-gradient(180deg, #709dca 75%, transparent 1%);
}

.txt__heading_styles {
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  color: white;
  margin: 82px 15px 16px;
  text-align: center;
}

.txt__paragraph_style {
  font-size: 24px;
  color: white;
  margin: 0 15px 27px;
  text-align: center;
}

.request-form {
  margin-bottom: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.request-form__input {
  border-radius: 4px;
  width: 238px;
  height: 41px;
  border: none;
  margin: 10px 5px 10px 8px;
  padding-left: 40px;
  font-size: 13px;
}

.request-form__input_full-name {
  background-image: url("../images/svg/person-input_full-name.svg");
  background-repeat: no-repeat;
  background-position: 10px 13px;
}

.request-form__input_email {
  background-image: url("../images/png/sms-input_email.png");
  background-repeat: no-repeat;
  background-position: 10px 16px;
}

.request-form__input_phone {
  background-image: url("../images/png/phone-input.png");
  background-repeat: no-repeat;
  background-position: 10px 16px;
}

.request-form_button {
  background-color: #ffbb42;
  color: white;
  padding: 14px 42px;
  border: none;
  font-size: 14px;
  border-radius: 4px;
  margin: 10px 7px 10px 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.request-form_button:hover {
  background-color: #eba72f;
  cursor: pointer;
}

.button__circle_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 23px 0 74px;
}

.button__circle {
  height: 16px;
  border-radius: 13px;
  border: 2px solid #dedfe0;
  margin: 0 9px;
}

.button__circle-active {
  border: 2px solid #1ca8dd;
}

.img-laptop_weight {
  width: 100%;
}

/*Secthion our services*/
.h2-styles {
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  color: #394b50;
  margin: 40px 10px 16px;
}

.paragraph-style {
  font-weight: 400;
  font-size: 24px;
  color: #394b50;
  margin: 0 10px 84px;
}

.container__with-sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 145px;
}

@media (max-width: 1098px) {
  .container__with-sections {
    margin-bottom: 30px;
  }
}

.section__content {
  max-width: 512px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 15px 76px;
}

.section__content-txt {
  margin-left: 35px;
}

.section__content-h4 {
  margin-bottom: 15px;
  color: #394b50;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

.section__content-paragraph {
  font-size: 13px;
  line-height: 16px;
  color: #7b7b7b;
}

/* aboute-us container */
.container__aboute-us_h4 {
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 18px;
  color: white;
}

.container__aboute-us_paragraph {
  font-size: 13px;
  line-height: 22px;
  color: white;
  font-weight: 400;
  margin-bottom: 50px;
}

.container__aboute-us_button {
  width: 144px;
  height: 45px;
  background-color: #ffc155;
  border: 1px solid #e7ad48;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 3px;
  margin: 15px 0;
}

.container__aboute-us_button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.aboute-us {
  background-color: #ffc155;
  min-height: 623px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.img-picture-table {
  background-image: url("../images/png/picture-table_chair.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .aboute-us__img-width {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .aboute-us__txt {
    width: 50%;
  }
}

.aboute-us__txt_md {
  max-width: 1140px;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
}

.saboute-us__txt_content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -12px;
}

@media (min-width: 768px) {
  .col-md-10 {
    width: 83.3333333333%;
    padding: 12px;
  }
}

@media (max-width: 768px) {
  .img-media {
    width: 100%;
    padding: 12px;
    height: 221px;
  }
}

.col-12 {
  max-width: 475px;
  padding: 12px;
  margin: 15px 0 15px 60px;
}

.display__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.margin__right {
  margin-right: 20px;
}

.margin__bottom {
  margin-bottom: 194px;
}

@media (max-width: 1126px) {
  .margin__bottom_media {
    margin-bottom: 120px;
  }
}

/*price cards*/
.bacground-price-cards {
  padding-top: 98px;
  background-color: #e7edf3;
  margin-bottom: 130px;
}

.block__price-cards {
  background-color: white;
  height: 441px;
  width: 367px;
  border: 1px solid #ccd5df;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 15px 0;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

.block__price-cards:hover {
  background-color: #709dca;
  -webkit-transform: scale3d(1, 1.1, 1);
          transform: scale3d(1, 1.1, 1);
}

.block__price-cards_heading {
  color: #75888d;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 7px;
}

.block__price-cards_dollar {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #ffbb42;
  margin-right: 3px;
}

.block__price-cards_number {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: #ffbb42;
}

.block__price-cards_paragraph {
  color: #75888d;
  margin-top: 2px;
  border-bottom: 1px solid #ced4db;
  padding: 0px 107px 50px;
}

.block__price-cards_h5-first {
  font-size: 13.5px;
  color: #b5bbc1;
  padding: 12px 105px 12px;
  border-bottom: 1px solid #ced4db;
}

.block__price-cards_h5-second {
  font-size: 13.5px;
  color: #b5bbc1;
  padding: 12px 87px 12px;
  border-bottom: 1px solid #ced4db;
}

.block__price-cards_h5-third {
  font-size: 13.5px;
  color: #b5bbc1;
  margin: 12px 0 31px;
}

.block__price-cards_button {
  width: 131px;
  height: 42px;
  background-color: #ffc155;
  border: 1px solid #e7ad48;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 3px;
  margin-bottom: 48px;
}

.block__price-cards_button:hover {
  background-color: #eba72f;
  cursor: pointer;
}

.center-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-block_header {
  color: #394b50;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  margin: 0 15px 16px;
}

.card-block_paragraph {
  color: #75888d;
  font-size: 24px;
  line-height: 29px;
  margin: 0 15px 84px;
  text-align: center;
}

.block__price-cards:hover .block__price-cards_heading {
  color: white;
}

.block__price-cards:hover .block__price-cards_dollar {
  color: white;
}

.block__price-cards:hover .block__price-cards_number {
  color: white;
}

.block__price-cards:hover .block__price-cards_paragraph {
  color: white;
}

.block__price-cards:hover .block__price-cards_h5-first {
  color: #c2e1ff;
}

.block__price-cards:hover .block__price-cards_h5-second {
  color: #c2e1ff;
}

.block__price-cards:hover .block__price-cards_h5-third {
  color: #c2e1ff;
}

/* block HOW IT WORKS */
.block__cooperation--h5 {
  color: #394b50;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  margin: 5px 15px 14px;
}

.block__cooperation--h6 {
  font-size: 24px;
  margin: 0 15px 83px;
}

.block__cooperation_steps {
  max-width: 217px;
  height: 279px;
  margin: 11px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.block__cooperation_steps--transform {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.block__cooperation_steps--transform:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.block__cooperation_steps--h4 {
  margin: 76px 5px 21px;
  color: #394b50;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.block__cooperation_steps--paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #7b7b7b;
  text-align: center;
}

.block__cooperation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 103px;
}

.block__cooperation--buttom {
  background-color: #ffbb42;
  width: 165px;
  height: 46px;
  color: white;
  border-radius: 3px;
  border: none;
}

.block__cooperation--buttom:hover {
  background-color: #eba72f;
  cursor: pointer;
}

.block__arrow {
  width: 45px;
  position: relative;
}

.block__arrow--top {
  position: absolute;
  left: -44px;
}

.block__arrow--bottom {
  bottom: 127px;
  position: absolute;
  left: -42px;
}

@media screen and (max-width: 1091px) {
  .block__arrow {
    display: none;
  }
}

.margin-bottom {
  margin-bottom: 149px;
}

/* customer-reviews */
.wrrap-customer-reviews {
  background-color: #ffc155;
  margin-bottom: 80px;
}

.section__header {
  text-align: center;
}

.section__header--h4 {
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  color: white;
  margin: 66px 0 16px;
}

.section__header_paragraph {
  font-size: 30px;
  line-height: 36px;
  color: white;
  margin: 0 15px 92px;
}

@media (max-width: 1129px) {
  .section__header_paragraph {
    margin-bottom: 70px;
  }
}

.customer-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 18px;
  background-color: white;
  border: none;
  border-radius: 2px;
}

.customer-reviews--img {
  border-radius: 50%;
  margin: 49px 0 0 20px;
}

.display__flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.customer-message {
  padding-top: 50px;
  margin-left: 15px;
  margin-right: 14px;
}

.customer-message__paragraph {
  padding-left: 5px;
  font-size: 13px;
  line-height: 16px;
  color: #7b7b7b;
  max-width: 344px;
}

.customer-message__h4 {
  padding-top: 40px;
  font-size: 14px;
  line-height: 17px;
  margin-left: 16px;
  margin-bottom: 40px;
}

.customer-message__h4--orange {
  color: #eba72f;
}

.customer-message__h4--dark-red {
  color: #7b7b7b;
}

.customer-message__quotes {
  color: #7b7b7b;
  font-size: 33px;
}

.customer-message__quotes--first {
  line-height: 10px;
  margin-left: -13px;
}

.customer-message__quotes--second {
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  position: absolute;
  margin: 13px 10px 0 10px;
  line-height: 23px;
}

/* section NEWSLETTER */
.wrrap-newsletter__header {
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  color: #394b50;
  margin: 16px;
}

.wrrap-newsletter__paragraph {
  color: #394b50;
  font-size: 30px;
  margin: 0 15px 73px;
  text-align: center;
}

.newsletter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 53px;
}

.newsletter-form__fields {
  border-radius: 4px;
  height: 41px;
  border: 1px solid #cbcbcb;
  margin: 10px 5px 10px 8px;
  padding-left: 40px;
  font-size: 13px;
}

.newsletter-form__fields--img-name {
  background-image: url("../images/svg/person-input_full-name.svg");
  background-repeat: no-repeat;
  background-position: 10px 13px;
  width: 308px;
}

.newsletter-form__fields--img-email {
  background-image: url("../images/png/sms-input_email.png");
  background-repeat: no-repeat;
  background-position: 10px 16px;
  width: 388px;
}

.newsletter-form__button {
  background-color: #ffbb42;
  width: 218px;
  height: 46px;
  color: white;
  border-radius: 3px;
  border: none;
  margin: 10px 10px 10px 8px;
}

.newsletter-form__button:hover {
  background-color: #eba72f;
  cursor: pointer;
}

.circle__bg-map {
  min-height: 600px;
  width: 100%;
  background-image: url("../images/png/map.png");
  background-repeat: no-repeat;
  background-position: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location-circle {
  width: 282px;
  height: 285px;
  background-color: #394b50;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 30px;
  position: relative;
}

.location-circle::after {
  content: "";
  position: absolute;
  bottom: -15px;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  border-top: 80px solid #394b50;
}

.location-circle__header {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 11px;
}

.location-circle__txt {
  color: #aeb7ba;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}

.location-circle__border-txt {
  max-width: 184px;
  margin-bottom: 20px;
}

.location-circle__email {
  color: #ffbb42;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
}

.border-bottom {
  border-bottom: 1px solid #e3e7ec;
  margin-bottom: 50px;
}

/* navigation footer */
.footer__nav {
  margin-bottom: 21px;
}

.footer__nav-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__nav-list__link {
  margin: 15px 20px;
  color: #394b50;
  font-size: 13px;
  line-height: 16px;
}

.foter__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.foter__phone-img {
  margin-right: 18px;
}

.foter__phone-number {
  color: #394b50;
  font-size: 22px;
  line-height: 27px;
}

.secthion__messengers {
  margin-bottom: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.secthion__messengers-img {
  margin: 10px 8px;
}

/* section footer */
.main-footer {
  background-color: #709dca;
}

.main-footer__paragraph {
  color: white;
  margin: 15px;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
}
