html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
}

.centering-content {
  margin: 0 auto;
  max-width: 1110px;
}

.margin {
  margin: 20px;
}

.margin-top-bottom {
  margin: 10px 0;
}

.txt-uppercase {
  text-transform: uppercase;
}

.display-content__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bulleted-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bulleted-list .bulleted-list__link {
  padding: 10px 20px;
  color: #868686;
  font-style: normal;
  font-weight: normal;
  font-size: 13.5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bulleted-list .bulleted-list__link:hover {
  background-color: #ffbb42;
  color: white;
}

.container__main {
  background-color: #709dca;
  max-height: calc(1700px - 1122px);
}

.txt__heading_styles {
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  color: white;
  margin: 82px 15px 16px;
}

.txt__paragraph_style {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: white;
  margin: 0 15px 27px;
}

.request-form {
  margin-bottom: 67px;
}

.request-form .request-form__input {
  border-radius: 4px;
  width: 238px;
  height: 41px;
  border: none;
  margin: 10px 0px 10px 10px;
  padding-left: 40px;
  font-size: 13px;
}

.request-form .request-form__input_full-name {
  background-image: url("../images/svg/person-input_full-name.svg");
  background-repeat: no-repeat;
  background-position: 10px 13px;
}

.request-form .request-form__input_email {
  background-image: url("../images/png/sms-input_email.png");
  background-repeat: no-repeat;
  background-position: 10px 16px;
}

.request-form .request-form__input_phone {
  background-image: url("../images/png/phone-input.png");
  background-repeat: no-repeat;
  background-position: 10px 16px;
}

.request-form .request-form_button {
  background-color: #ffbb42;
  color: white;
  padding: 14px 42px;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  border-radius: 4px;
  margin-left: 10px;
}

.request-form_button:hover {
  background-color: #eba72f;
  cursor: pointer;
}

.button__circle_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 23px 0 74px;
}

.button__circle_flex .button__circle {
  height: 16px;
  border-radius: 13px;
  border: 2px solid #dedfe0;
  margin: 0 9px;
}

.button__circle_flex .button__cercle-active {
  border: 2px solid #1ca8dd;
}

.img-laptop_weight {
  width: 100%;
}
